p {
    width: 85%;
}

p.subtitle {
    font-size: 18px;
}

p.description {
    font-size: 16px;
}

.input-group {
    width: 60%
}

/* .row {
    width: 60%
} */

/* Axes */

.axis-label {
    fill: #888;
    text-anchor: middle;
}

.axis text {
    fill: #888;
}

.axis path, line {
    stroke: #888888;
}

/* Slider */

.slider-handle.round {
    background-image: linear-gradient(to bottom,#979797 0,#707070 100%);
}

/* Filters */

.filter {
    cursor: pointer;
}

.filter text {
    font-size: 11px;
    font-weight: normal;
    fill: #333;
}

.filter rect{
    fill: #ddd;
}

.filter.selected text {
    fill: #fff;
    font-weight: bold;
}

.filter.selected rect {
    fill: #a442f4;
}

/* Country Details */

.countryDetails text {
    text-anchor: middle;
}
